<!DOCTYPE html>
<html>
<head>
  <title>Piggybak</title>
  <%= stylesheet_link_tag    "piggybak/application", media: "all" %>
  <%= javascript_include_tag "piggybak/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
